// Adding variables with CSS

/* :root {
    --primary-color: #272727;
    --accent-color: #ff652f;
    --text-color: #fff;
}

body {
    background: var(--primary-color);
} */

// With SCSS

@import "./_resets";
@import "./_variables";

// Prefixes will be automatically added to the compiled css file.

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    background: $primary-color;
    color: $text-color
}

//Nesting

.main {
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {
        //font-weight: map-get($font-weights, bold);
        font-weight: weight(regular);

        &:hover {
            color: pink;
        }
    }
}

// Files that begin with an underscore are called partials.
