// Adding variables with CSS

/* :root {
    --primary-color: #272727;
    --accent-color: #ff652f;
    --text-color: #fff;
}

body {
    background: var(--primary-color);
} */

// With SCSS

@import "./_resets";
@import "./_variables";

// Prefixes will be automatically added to the compiled css file.

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color
}

//Nesting

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {
        //font-weight: map-get($font-weights, bold);
        font-weight: weight(regular);

        &:hover {
            color: pink;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

// Files that begin with an underscore are called partials.

.light {
    @include theme($light-theme: false)
    // @include theme($light-theme: true)
}